@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* .fade {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
} */

div.DraftEditor-root {
  border: 0px;
  background-color: white;
  color: #6A6A6A;
  font-size: 14px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  border-top: #C9C9C9 2px solid;
  padding-top: 10px;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}